<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Dashboard">
  <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
  <title>Dashio - Bootstrap Admin Template</title>

  <!-- Favicons -->
 {% include "link/link_css.html.twig" %}
  
</head>

<body class="hold-transition login-page">
  <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
 
{% block body  %}

<div class="login-box">
  <div class="login-logo" style="font-size:40px">
    <strong> <a><b>Parcours</b>Sup</a> </strong>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <strong> <p class="login-box-msg">JE ME CONNECTE </p> </strong>

       <form method="post" class="form-login">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {# {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %} #}
            <div class="input-group mb-3">
              <input type="email"  value="{{ last_username }}" name="email" autocomplete="email" required autofocus  id="inputEmail" class="form-control" placeholder="Email">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required autofocus  placeholder="password">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                 <input type="hidden" name="_csrf_token"  value="{{ csrf_token('authenticate') }}">
                <button type="submit" class="btn btn-primary btn-block"> SE CONNECTER </button>
              </div>
           
            </div>
      </form>
      <br>
      <p class="mb-1" style="text-align:center">
        <a href="{{ path("app_forgot_password_request")}}">MOT DE PASSE OUBLIÉ  </a>
      </p>

      
      <!-- /.social-auth-links -->
      <hr>
      <br>
      <p class="mb-0">
        <a   class=" btn btn-success btn-block"   href="{{ path('app_register') }}" class="text-center">JE CRÉE MON COMPTE </a>
      </p>
      <br>
      
    </div>
    <!-- /.login-card-body -->
  </div>
</div>  
  {% endblock %}

  {% include "link/link_js.html.twig" %}
  
</body>

</html>


