{% extends 'base.html.twig' %}
{% block body %}

<div class="wrapper">
  <div class="content-wrapper">
     <div class="row" style="padding-left:2%;padding-top:2%">
          <div class="col-md-8">
            <div class="card card-default">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="fas fa-exclamation-triangle"></i>
                  Votre cursus universitaire 
                </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                           <table class="table table-boredered">
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ parcours_universitaire.id }}</td>
                        </tr>
                        <tr>
                            <th>AnneInscription</th>
                            <td>{{ parcours_universitaire.AnneInscription ? parcours_universitaire.AnneInscription|date('Y-m-d') : '' }}</td>
                        </tr>
                        <tr>
                            <th>Filiere</th>
                            <td>{{ parcours_universitaire.filiere }}</td>
                        </tr>
                        <tr>
                            <th>Mention</th>
                            <td>{{ parcours_universitaire.mention }}</td>
                        </tr>
                        <tr>
                            <th>Fichier</th>
                            <td>
                              <a href="{{ asset('upload/'~ parcours_universitaire.fichier) }}">View brochure (PDF)</a>
                            </td>
                        </tr>
                        <tr>
                            <th>Detail</th>
                            <td>{{ parcours_universitaire.detail }}</td>
                        </tr>
                        <tr>
                            <th>Moyenne</th>
                            <td>{{ parcours_universitaire.moyenne }}</td>
                        </tr>
                        <tr>
                            <th>TitreUniveriste</th>
                            <td>{{ parcours_universitaire.titreUniveriste }}</td>
                        </tr>
                    </tbody>
                </table>
                 <a href="{{ path('parcours_universitaire_index') }}" class="btn btn-info">Mon  parcours universitaire </a>   
              </div>
              <!-- /.card-body -->
            </div>
          </div>  
        </div>
    </div>
</div>

{% endblock %}
