{% extends 'base.html.twig' %}
{% block body %}
<div class="wrapper">
  <div class="content-wrapper">
     <div class="row" style="padding-left:2%;padding-top:2%">
          <div class="col-md-12">
            <div class="card card-success">
              <div class="card-header">
                <h3 class="card-title">
                  
                  Liste des flux entrants 
                </h3>
                 <a  style="float:right"  class="btn btn-info" href="{{ path('flux_sortant_new') }}">Ajouter un flux sortant </a>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                 
                <table class="table table-head-fixed text-nowrap">
                    <thead>
                        <tr>
                           
                            <th>Beneficiez-vous de bourse</th>
                            <th>Prise en charge</th>
                            <th>Date de Depart</th>
                            <th>Université inscrit </th>
                            <th>Filiére d'etude </th>
                            <th>Pays </th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for flux_sortant in app.user.fluxSortants %}
                        <tr>
                           
                            <td>{{ flux_sortant.bourse }}</td>
                            <td>{{ flux_sortant.priseCharche }}</td>
                            <td>{{ flux_sortant.dateDepart ? flux_sortant.dateDepart|date('Y-m-d') : '' }}</td>
                            <td>{{ flux_sortant.universite }}</td>
                            <td>{{ flux_sortant.filiere }}</td>
                            <td>{{ flux_sortant.pays.libelle }}</td>
                            <td>
                                <a href="{{ path('flux_sortant_show', {'id': flux_sortant.id}) }}">show</a>
                                <a href="{{ path('flux_sortant_edit', {'id': flux_sortant.id}) }}">edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="11">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                 </table>
               </div>
              <!-- /.card-body -->
            </div>
          </div>  
        </div>
    </div>
</div>
{% endblock %}


