{% extends 'base.html.twig' %}
{% block body %}

<div class="wrapper">
  <div class="content-wrapper">
     <div class="row" style="padding-left:2%;padding-top:2%">
          <div class="col-md-8">
            <div class="card card-success">
              <div class="card-header">
                <h3 class="card-title">
             
                  Description : 
                </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Vous benificiez de bourse ? </th>
                            <td>{{ flux_sortant.bourse }}</td>
                        </tr>
                        <tr>
                            <th>Prise en charge durant vos etudes </th>
                            <td>{{ flux_sortant.priseCharche }}</td>
                        </tr>
                        <tr>
                            <th>Date de Depart</th>
                            <td>{{ flux_sortant.dateDepart ? flux_sortant.dateDepart|date('Y-m-d') : '' }}</td>
                        </tr>
                        <tr>
                            <th>Universite inscrit </th>
                            <td>{{ flux_sortant.universite }}</td>
                        </tr>
                         <tr>
                            <th>Type d'etablissement superieur </th>
                            <td>{{ flux_sortant.typeuniversite.libelle }}</td>
                        </tr>
                         <tr>
                            <th>Niveau d'etude  </th>
                            <td>{{ flux_sortant.niveau.libelle }}</td>
                        </tr>
                        <tr>
                            <th>Filiere </th>
                            <td>{{ flux_sortant.filiere }}</td>
                        </tr>
                         <tr>
                            <th>Composant de filiere </th>
                            <td>{{ flux_sortant.composant.libelle  }}</td>
                        </tr>
                        <tr>
                            <th>Adresse à  l'etranger </th>
                            <td>{{ flux_sortant.adresse }}</td>
                        </tr>
                        <tr>
                            <th>Vous avez une famille resident l'etranger </th>
                            <td>{{ flux_sortant.famille }}</td>
                        </tr>
                        <tr>
                            <th>Motivation </th>
                            <td>{{ flux_sortant.motivation }}</td>
                        </tr>
                        <tr>
                            <th>Suggeston</th>
                            <td>{{ flux_sortant.suggeston }}</td>
                        </tr>
                        <tr>
                            <th>Pays </th>
                            <td>{{ flux_sortant.pays.libelle  }}</td>
                        </tr>
                    </tbody>
                 </table>
                 <br>
                 <br>
                 <a  href="{{ path('flux_sortant_index') }}" class="btn btn-primary btn-lg "> Liste de flux  sortant </a>   
              </div>
              <!-- /.card-body -->
            </div>
          </div>  
        </div>
    </div>
</div>

{% endblock %}

