{% extends 'base.html.twig' %}
{% block body %}

<div class="wrapper">
  <div class="content-wrapper">
     <div class="row" style="padding-left:2%;padding-top:2%">
          <div class="col-md-8">
                <div class="card card-success">
                <div class="card-header">
                    <h3 class="card-title">
                    Description université 
                    </h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    
                    <table class="table table-border">
                        <tbody>
                            <tr>
                                <th>Id</th>
                                <td>{{ universite.id }}</td>
                            </tr>
                            <tr>
                                <th>Titre</th>
                                <td>{{ universite.titre }}</td>
                            </tr>
                            <tr>
                                <th>Detail</th>
                                <td>{{ universite.detail }}</td>
                            </tr>
                            <tr>
                                <th>Adresse</th>
                                <td>{{ universite.adresse }}</td>
                            </tr>
                            <tr>
                                <th>Email</th>
                                <td>{{ universite.email }}</td>
                            </tr>
                            <tr>
                                <th>Telephone</th>
                                <td>{{ universite.telephone }}</td>
                            </tr>
                            <tr>
                                <th>Site</th>
                                <td><a href="{{ universite.site }}">consulter </a></td>
                            </tr>
                            <tr>
                                <th>Postal</th>
                                <td>{{ universite.postal }}</td>
                            </tr>
                            <tr>
                                <th>Ville</th>
                                <td>{{ universite.ville }}</td>
                            </tr>
                            <tr>
                                <th>Responsable</th>
                                <td>{{ universite.responsable }}</td>
                            </tr>
                            <tr>
                                <th>Filiale</th>
                                <td>{{ universite.filiale }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
          </div>  
        </div>
    </div>
</div>
{% endblock %}
