 <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <title>Parcous sup </title>

   {% include "link/link_css.html.twig" %}
<body class="hold-transition sidebar-mini layout-fixed">
  <div class="wrapper">

  <!-- Preloader -->
  

  <!-- Navbar -->
  <nav class="main-header navbar navbar-fixed-to top navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">

    
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="{{ path("_login_redirect") }}" class="nav-link">Home</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link">Contact</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link">Rapport </a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="{{ path("profile") }}" class="nav-link">Profile </a>
      </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <!-- Navbar Search -->
      <li class="nav-item">
        <a class="nav-link" data-widget="navbar-search" href="#" role="button">
          <i class="fas fa-search"></i>
        </a>
        <div class="navbar-search-block">
          <form class="form-inline">
            <div class="input-group input-group-sm">
              <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
              <div class="input-group-append">
                <button class="btn btn-navbar" type="submit">
                  <i class="fas fa-search"></i>
                </button>
                <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </li>

      <!-- Messages Dropdown Menu -->
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-comments"></i>
          <span class="badge badge-danger navbar-badge">3</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <a href="#" class="dropdown-item">
            <!-- Message Start -->
            <div class="media">
              <img src="{{ asset("dist/img/user1-128x128.jpg") }}" alt="User Avatar" class="img-size-50 mr-3 img-circle">
              <div class="media-body">
                <h3 class="dropdown-item-title">
                  {{ app.user.nom}}
                  <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                </h3>
                <p class="text-sm">Call me whenever you can...</p>
                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
              </div>
            </div>
            <!-- Message End -->
          </a>
         <div class="dropdown-divider"></div>
          <a href="{{ path("app_logout") }}" class="btn btn-block btn-danger">  Deconnexion</a>
        </div>
      </li>
      <!-- Notifications Dropdown Menu -->
      {# <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-bell"></i>
          <span class="badge badge-warning navbar-badge">15</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <span class="dropdown-item dropdown-header">15 Notifications</span>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-envelope mr-2"></i> 4 new messages
            <span class="float-right text-muted text-sm">3 mins</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
        </div>
      </li> #}
     
    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4" style="background-color:#469440">
    
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="" class="img-circle elevation-2" alt="User Image">
        </div>
        
      </div>

      <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item menu-open">
            <a href="{{ path("_login_redirect") }}" class="nav-link active">
              <p>
                HOME
              </p>
            </a>
            
          </li>
          {% if not is_granted("ROLE_ADMIN")  %}
          
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-book"></i>
              <p>
               Responsable 
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{{ path("responsable_new") }}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Ajouter un responsable  </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ path("responsable_index") }}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  Consulter tes responsables  
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
            <i class="fas fa-question-circle"></i>
              
              <p>
                Formations 
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{{ path("parcours_universitaire_new")}}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Ajouter formation </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ path("parcours_universitaire_index") }}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Consulter les formations </p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-tree"></i>
              <p>
              Experiences 
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{{ path("experience_new") }}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Ajouter une experience </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ path("experience_index") }}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  Consulter tes experiences 
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-edit"></i>
              <p>
                Langues 
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{{ path("langue_new") }}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Ajouter une langue </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ path("langue_index") }}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Consulter tes langues </p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-table"></i>
              <p>
                Scolarité 
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{{ path("parcous_colaire_new") }}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Ajouter Cursus scolaire </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ path("parcous_colaire_index") }}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>consulter votre cursus </p>
                </a>
              </li>
              
            </ul>
          </li>
          
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-book"></i>
              <p>
                Gestion des flux 
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{{ path("flux_new") }}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Ajouter flux entrant </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ path("flux_index") }}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Liste des flux entrants </p>
                </a>
              </li>
              <hr  style=" height:1px ; width:50% ; background-color:white ; color:white">
                <li class="nav-item">
                <a href="{{ path("flux_sortant_new") }}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Ajouter flux sortant  </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ path("flux_sortant_index") }}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Liste des flux sortant  </p>
                </a>
              </li>
            </ul>
          </li>
           
           {% else  %}  
           <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-book"></i>
       
               Gestion des etudiants 
               
              
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{{ path("listetudiant") }}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Liste des etudiants  </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ path("flux_index") }}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Liste des responsables  </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ path("flux_index") }}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                 Annuaire des responsables  
                </a>
              </li>
            </ul>
          </li>
          <!-- gestion des  université -->
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-book"></i>
              
               Gestion des universités
               
              
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{{ path("universite_new") }}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Ajouter université   </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ path("universite_index") }}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Liste des universités   </p>
                </a>
              </li>
             
            </ul>
          </li>
          {# geston des type d'universités  #}
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-book"></i>
              
               Gestion  Type d'universités 
               
              
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{{ path("type_universite_new") }}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Ajouter type d'université   </p>
                </a>
              </li>
            </ul>
          </li>
          {# Gestion des pays  #}

          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-book"></i>
              
               Gestion des pays 
               
              
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{{ path("pays_new") }}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Ajouter un pays   </p>
                </a>
              </li>
              
             
            </ul>
          </li>
          {# Gestion des niveaux #}
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-book"></i>
              
               Gestion niveau 
               
              
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{{ path("niveau_new") }}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Ajouter un niveau d'etude    </p>
                </a>
              </li>
              
             
            </ul>
          </li>
         {# Composant  #}
         <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-book"></i>
              
               Gestion composant 
               
              
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{{ path("composant_new") }}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Ajouter un composant    </p>
                </a>
              </li>
            </ul>
          </li>

           {# Ecole  #}
            <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="nav-icon fas fa-book"></i>
                  
                  Gestion Ecole
                  
                  
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="{{ path("ecole_new") }}" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Ajouter une ecole    </p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="{{ path("ecole_index") }}" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      Liste des ecoles 
                    </a>
                  </li>
                
                </ul>
            </li>
            {# Gestion des flux   #}
            <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="nav-icon fas fa-book"></i>
                  
                  Gestion flux 
                  
                  
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="{{ path("flux_index") }}" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Flux entrant    </p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="{{ path("flux_index") }}" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      Flux sortant
                    </a>
                  </li>
                
                </ul>
              </li>
              {# Statistique   #}
              <li class="nav-item">
                <a href="{{ path("flux_index") }}" class="nav-link">
                  <i class="nav-icon fas fa-book"></i>
                 Statistique
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ path("flux_index") }}" class="nav-link">
                  <i class="nav-icon fas fa-book"></i>
               Geolocalisaton 
                </a>
              </li>

          {% endif %}
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
 
  <!-- /.content-wrapper -->
 

    
   {% block body %}{% endblock %}

    
{% include "link/link_js.html.twig" %}   
</body>
</html>