{% extends 'base.html.twig' %}
{% block body %}
<section id="main-content">
    <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i> GESTION DES COMPOSANTS  </h3>
        <!-- BASIC FORM VALIDATION -->
        <div class="row mt">
          
          <div class="col-lg-8">
            <div class="content-panel">
              <h4><i class="fa fa-angle-right"></i> Description : </h4>
              <hr>
              
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ composant.id }}</td>
                        </tr>
                        <tr>
                            <th>Libelle</th>
                            <td>{{ composant.libelle }}</td>
                        </tr>
                        <tr>
                            <th>Detail</th>
                            <td>{{ composant.detail }}</td>
                        </tr>
                    </tbody>
                </table>

                <a href="{{ path('composant_index') }}">Liste des composants </a>

                <a href="{{ path('composant_edit', {'id': composant.id}) }}">modifier</a>

                {{ include('composant/_delete_form.html.twig') }}
            </div>
            <!-- /form-panel -->
          </div>

          <!-- /col-lg-12 -->
        </div>
        
        <!-- /row -->
      </section>
      <!-- /wrapper -->
</section>
{% endblock %}
