{% extends 'base.html.twig' %}

{% block body %}
  <section id="main-content">
    <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i> AJOUTER NIVEAU D'ETUDE </h3>
        <!-- BASIC FORM VALIDATION -->
        <div class="row mt">
          <div class="col-lg-6">
            <div class="form-panel">
               
             {{ include('pays/_form.html.twig') }}
                
            </div>
            <!-- /form-panel -->
          </div>
          <div class="col-lg-6">
            <div class="content-panel">
              <h4><i class="fa fa-angle-right"></i> Liste des </h4>
              <hr>
              <table class="table">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Libelle</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for pay in pays %}
                        <tr>
                            <td>{{ pay.id }}</td>
                            <td>{{ pay.libelle }}</td>
                            <td>
                                <a href="{{ path('pays_show', {'id': pay.id}) }}">show</a>
                                <a href="{{ path('pays_edit', {'id': pay.id}) }}">edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /form-panel -->
          </div>

          <!-- /col-lg-12 -->
        </div>
        
        <!-- /row -->
      </section>
      <!-- /wrapper -->
  </section>

{% endblock %}
