{% extends 'base.html.twig' %}


{% block body %}
<section id="main-content">
    <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i> AJOUTER NIVEAU D'ETUDE </h3>
        <!-- BASIC FORM VALIDATION -->
        <div class="row mt">
          <div class="col-lg-6">
            <div class="form-panel">
                    {{ include('niveau/_form.html.twig', {'button_label': 'Modifier'}) }}
                
            </div>
            <!-- /form-panel -->
          </div>
          {# <div class="col-lg-6">
            <div class="content-panel">
              <h4><i class="fa fa-angle-right"></i> Liste des Niveaux d'etudes </h4>
              <hr>
              <table class="table">
                <thead>
                  <tr>
                    
                    <th>N°</th>
                    <th>libelle</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                 {% for niveau in niveaux %}
                  <tr>
                    <td>{{ niveau.id }}</td>
                    <td>{{ niveau.libelle  }}</td>
                    <td>
                    


                      <button class="btn btn-primary btn-xs"> <a href="{{ path('niveau_edit', {'id': niveau.id}) }}"><i style="color:white" class="fa fa-pencil"></i></a></button>
                      <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                    </td>
                  </tr>
                  {% endfor %}  
                </tbody>
              </table>
            </div>
            <!-- /form-panel -->
          </div> #}

          <!-- /col-lg-12 -->
        </div>
        
        <!-- /row -->
      </section>
      <!-- /wrapper -->
  </section>



{# 
    <a href="{{ path('niveau_index') }}">back to list</a>

    {{ include('niveau/_delete_form.html.twig') }} #}
{% endblock %}
